{# Head #}
{% include 'shared/head.twig' %} 

<body {{ function('body_class') }}> 

{# Menu #}
{% include 'shared/menu/menu.twig' %}

{# Container #}
<main data-page="container">
  {% block container %}
    <!-- Obsah stránky ide sem -->
  {% endblock %}
</main>

{% include 'shared/footer.twig' %}
