# Ignore everything in repository root 
/plugins/*
/themes/*
/uploads/*
/languages
/upgrade
/ai1wm-backups
wflogs
node_modules
vendor

# Files to not ignore
!/.gitignore
!/README.md
!index.php

# Folder to not ignore
!/plugins/blocks-boilerplate
!/themes/theme-boilerplate