$fontFamily: 'Archivo', Arial, Helvetica, sans-serif;

h1 {
  font-size: 7.2rem;
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

h2 {
  font-size: 6rem;
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

h3 {
  font-size: 4.8rem;
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

h4 {
  font-size: 3.6rem;
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

h5 {
  font-size: 3rem;
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

h6 {
  font-size: 1.8rem;
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

p {
  font-size: 2.4rem;
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

a {
  font-family: $fontFamily;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  font-family: $fontFamily;
  line-height: 150%;
  color: var(--color--black);
}

strong {
  font-weight: 500;
}
