h1 {
  font-size: 7.2rem;
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

h2 {
  font-size: 6rem;
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

h3 {
  font-size: 4.8rem;
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

h4 {
  font-size: 3.6rem;
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

h5 {
  font-size: 3rem;
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

h6 {
  font-size: 1.8rem;
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

p {
  font-size: 2.4rem;
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

a {
  font-family: var(--wp--preset--font-family--primary-font);
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  font-family: var(--wp--preset--font-family--primary-font);
  color: var(--wp--preset--color--black);
}

strong {
  font-weight: 700;
}
