footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  padding: 0 var(--padding);
  display: flex;
  justify-content: center;
}

// ---> Container
.footer__container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: var(--base-max-width);
}
