/* Old stuff going out */
::view-transition-old(root) {
  animation: fade 0.1s linear forwards;
}

/* New stuff coming in */
::view-transition-new(root) {
  animation: fade 0.1s linear reverse;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
