      </div>
    </div>
    <footer>
      <div class="footer__container">
        <p>{{ now | date('Y') }} © {{ site.title }}</p>
      </div>
    </footer>
    {{ function('wp_footer') }}
  </body>
</html>