    <footer data-page="container">
      <div class="footer__container" data-page="base">
        <p>{{ now | date('Y') }} © {{ site.title }}</p>
      </div>
    </footer>
    {{ function('wp_footer') }}
  </body>
</html>